html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #E0E0E0;
  background: #000;
  overflow: hidden;
}

header {
  padding-left: 5px;
  border-bottom: 1px solid black;
}

header, .toolbar, #main-menu{  
  background:#404040;
}

#container {
  width: 75%;
  margin: 0px auto;
  text-align: center;
}

#main-menu {

}

.toolbar {
  width: 200px;
  height: 300px;
  padding-bottom: 16px;
  padding-bottom: 1.625rem;
  border: 1px solid black;
}

.toolbar-header {
  cursor: move;
  padding-left: 6px;
  padding-left: 0.611rem;
  padding-top: 4px;
  padding-top: 0.407rem;
  text-align: left;
  position: fixed;
  width: 180px;
  border-bottom: 1px solid black;
  background: #404040;
  z-index: 10000;
}

.setting-tainer {
  margin-top: 16px;
  margin-top: 1.625rem;
  border-top: 1px solid #000;
}

.setting-tainer h5 {
  margin-bottom: 6px;
  margin-bottom: 0.611rem;
}

.ui-slider {
  margin-left: 6px;
  margin-left: 0.611rem;
  margin-right: 6px;
  margin-right: 0.611rem;
  background: #A0A0A0;
}

.ui-slider-handle {
  background: #E0E0E0;
}

.toolbar-header a, #header-opts-btn{
  float: right;
  margin: 1px;
}

.min-span, .max-span {
  position: absolute;
}

.min-span {
  left: 0px;
}

.max-span {
  right: 0px;
}