/*
 * Bow to the golden mean rem CSS!
 */

root {
  display: block;
}

html {
  font-size: 100%;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1.00rem;
  line-height: 1.625;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
  font-family: "Book Antiqua", Palatino, serif;
}

h1,
h2 {
  font-size: 26px;
  font-size: 1.625rem;
}

h3,
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.444;
}

.some-div {
  margin: 24px 0;
  margin: 1.500rem 0;
}