/*
 * Bow to the golden mean rem CSS!
 */

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 1px;
}

header, h1, h2, h3, h4, h5 {
  font-family: "Book Antiqua", Palatino, serif;
}

header, h1, h2 {
  font-size: 16px;
  font-size: 1.625rem;
}

h3, h4 {
  font-size: 14px;
  font-size: 1.4rem;
}

h5, div, p, span, tr, li {
  font-size: 10px;
  font-size: 1rem;
}